<mat-toolbar>
  <h1>Lets</h1>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>list</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    
    <button mat-menu-item>
      <button mat-menu-item routerLink="/user-list">Benutzer</button>
    </button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-button *ngIf="!(userService.isAuthenticated | async)" routerLink="/register">Register</button>
  <button mat-button *ngIf="!(userService.isAuthenticated | async)" routerLink="/login">Login</button>
  <button mat-button *ngIf="(userService.isAuthenticated | async)" (click)="userService.logout()">Log out</button>
</mat-toolbar>

<router-outlet></router-outlet>